body {
    margin: 0;
    padding: 0;
    background: rgb(21, 21, 21);
    font-family: 'Space Grotesk', sans-serif;
  }

  .navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .navbar-brand {
    font-size: 40px;
    font-weight: 600;
    margin-left: 130px;
  }

  .navbar-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 130px;
    z-index: 1;
  }

  .navbar-icons img {
    font-size: 20px;
    margin-left: 15px;
    padding-left: 30px;
  }

  
  @media (max-width: 468px) {
    .navbar {
      justify-content: center;
      flex-wrap: wrap;
    }

    .navbar-icons {
      justify-content: center;
      margin-right: 0;
    }
  }

                /* home sec */

.home{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: -150px;
}
.image-profil {
    margin-top: -20%;
    background-color: rgb(36, 36, 36);
}
.pr{
    width: 27vw;
}
.first-txt{
    margin-left: 60px;
    margin-top: 50px;
    
}
.first-txt h1{
    font-size: 7rem;
    color: white;
    font-weight: 900;
}
.first-txt span{
    border-bottom: 6px solid rgb(78, 225, 160);

}
.first-txt p{
    color: #d9d9d9;
    font-size: 1.5rem;
}
.first-btn{
    padding-top: 60px;
}
.btn{
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(78, 225, 160);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
} 
.btn:hover {
    color:  rgb(78, 225, 160);
  }

.decor{
    width: 26%;
    height: 140px;
    position: absolute;
    top: 250px;
    left: -90px;
}
.ring{
    position: absolute;
    top: 660px;
    right: 520px;
    width: 10%;
   
}
.hrr{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    }


    /* second section  */


    .languaes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        margin-top: 90px;
      }
  
      .element {
        width: calc(33.33% - 20px); 
        margin-bottom: 20px;
        padding: 10px;
      }
  
      .element h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 10px;
        color: white;
      }
  
      .element p {
        font-size: 16px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #D9D9D9;
        ;
      }

    /* prjects  */

    .titre {
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        gap: 50%;
      }
      
      .titre h1 {
        margin-top: 100px;
        font-size: 5rem;
        color: white;
      }
      
      .titre button {
        margin-top: 100px;

      }
    
      .btn-2{
        background: transparent;
        color: white;
        border: none;
        border-bottom: 2px solid rgb(78, 225, 160);
        padding: 10px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
      }
    
      .btn-2:hover{
        color:  rgb(78, 225, 160);

      }


        /* CARDS */


      .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .card {
        position: relative;
        display: inline-block;
        padding: 30px;
      }
      
      .card img {
        width: 100%;
        border-radius: 10px;
        height: auto;
        transition: filter 0.3s ease;
      }
      
      .card:hover img {
        filter: brightness(30%);
      }
      
      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0; 
        transition: opacity 0.3s ease;
        display: flex;
        flex-direction: column;
      }
      
      .card:hover .overlay {
        opacity: 1; 
      }
      
      .overlay button {
        margin: 5px;
      }
      
      .btn {
        background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(78, 225, 160);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
      }
      .btn:hover {
        color:  rgb(78, 225, 160);
      }

      .card h2{
        color: white;
      }

      .card h4{
        color: white;
      }


    /* FOOTER */


footer{
    height: 80vh;
    background-color: #242424;
}

.last{
   
    display: flex;
    justify-content: space-around;
}

.last-txt {
    padding-top: 60px;
}

.last-txt h1{
    font-size: 5rem;
    color: white;
}

.last-txt p{
    font-size: 1.2rem;
    color: #d9d9d9;
    font-weight: 100;
}


  

        /* FORM*/


.email {
    width: 400px;
    padding-top: 140px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    color: #D9D9D9;
    margin-bottom: 5px;
    padding-left: 30px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid white; 
    background-color: transparent;
    color: white;
  }

  .last-hr{
    width: 75%;
    margin: 0 auto;
    margin-top: 120px;
  }
  

    /* LAST BAR */

  .lastbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
  }

  .lastbar-brand {
    font-size: 40px;
    font-weight: 600;
    margin-left: 130px;
  }

  .lastbar-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 130px;
    z-index: 1;
  }

  .lastbar-icons img {
    font-size: 20px;
    margin-left: 15px;
    padding-left: 30px;
  }

  
  @media (max-width: 468px) {
    .lastbar {
      justify-content: center;
      flex-wrap: wrap;
    }

    .lastbar-icons {
      justify-content: center;
      margin-right: 0;
    }
  }





  @media screen and (max-width: 1660px) {
    html{
        font-size: 10px;
    }
    .ring{
        display: none;
    }
    .image-profil {
        height: 50%;
    }
  }

  @media screen and (max-width: 1217px) {
    .navbar-brand{
        justify-content: flex-start;
        margin: 0;
    }
    .navbar-icons{
        justify-content: flex-end;
        margin: 0;
    }
    .home{
        padding: 0;
    }
    
    .image-profil {
        height: 50%;
    }
    .pr{
        justify-content: flex-end;

    }
  }